.container {
  display: flex;
  justify-content: space-around; /* 아이템들 사이의 간격을 균등하게 배치 */
  align-items: center; /* 세로 중앙 정렬 */
}

.racket {
  display: flex;
  flex-direction: column;
  align-items: center; /* 이미지와 텍스트를 수평 중앙 정렬 */
}
